body {
    padding-top: 10px;
}

.required_text {
    font-family:cursive
}

.order-btn {
    background-color:#afd5f0;
    color: #120b33;
}

.plus-btn {
    background-color:#7ad451;
}

.cancel-btn {
    background-color: #e69934;
    color:#120b33;
}